<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mispaymethod>
                <active>1</active>
                <model>MISPayMethodFacade</model>
                <title>Buy now then pay it later with MISpay</title>
                <description>Split your purchase into 3 interest-free payments, No late fees. sharia-compliant</description>
                <order_status>pending</order_status>
                <merchant_app_id></merchant_app_id>
                <merchant_app_secret></merchant_app_secret>
                <is_widget_enabled></is_widget_enabled>
                <widget_access_key></widget_access_key>
                <debug_on>1</debug_on>
                <test_mode>1</test_mode>

                <min_order_total>200</min_order_total>
                <max_order_total>5000</max_order_total>

                <min_widget_limit>50</min_widget_limit>
                <max_widget_limit>4000</max_widget_limit>

                <mispay_logo>1</mispay_logo>
                <is_offline>0</is_offline>
                <is_gateway>0</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
            </mispaymethod>
        </payment>
    </default>
</config>
